In [22]:
import scipy.stats as st
import numpy as np

Hypothetical Testing

In [1]:
#A researcher believes that the mean age of medical doctors in a large hospital system is older than the average age of doctors in the United States, which is 46. Assume the population standard deviation is 4.2 years. A random sample of 30 doctors from the system is selected, and the mean age of the sample is 48.6. Test the claim at α = 0.05.

In [2]:
#h0 = mu1 <= 46 
#h1 = mu1 > 46
m = 46
std = 4.2
n=30
x = 48.6
a = 0.05

In [8]:
z_critical = abs(st.norm.ppf(a))

In [6]:
z = (x-m)/(std/np.sqrt(n))
z

3.3906634512224585

In [9]:
if (z>z_critical or z<(-z_critical)):
  print('Rejecting Null Hypothesis')
else:
  print('Fail to Reject Null Hypothesis')

Rejecting Null Hypothesis

P test

In [10]:
#A researcher claims that the average wind speed in a certain city is 8 miles per hour. A sample of 32 days has an average wind speed of 8.2 miles per hour. The standard deviation of the population is 0.6 mile per hour. At α = 0.05, is there enough evidence to reject the claim? Use the P-value method.

In [11]:
#h0 =8
#h1 !=8
m=8
n=32
x=8.2
std=0.6
a=0.05

In [12]:
z = (x-m)/(std/np.sqrt(32))
z

1.8856180831641203

In [14]:
p_val = (1 - st.norm.cdf(z)) * 2
p_val

0.0593464387919207

In [17]:
if p_val >a :
   print('Not Rejecting Null Hypothesis')
else:
   print('Reject Null Hypothesis')

Not Rejecting Null Hypothesis

T - Test

In [18]:
#A medical investigation claims that the average number of infections per week at a ­hospital in southwestern Pennsylvania is 16.3. A random sample of 10 weeks had a mean number of 17.7 infections. The sample standard deviation is 1.8. Is there enough evidence to reject the investigator’s claim at α = 0.05? Assume the variable is normally distributed.

In [20]:
n=10
dof = n-1
m = 16.3
x = 17.7
std = 1.8
#h0 : m=16.3
#h1 : m!=16.3

In [21]:
a =0.05
t = (x-m)/(std/np.sqrt(n))
t

2.4595492912420704

In [23]:
t_critical = st.t.ppf(a/2, dof)
t_critical

-2.262157162740992

In [25]:
if t>abs(t_critical) or  t<t_critical :
  print('Reject h0')
else:
  print('Not rejecting h0')

Reject h0

In [2]:
import pandas as pd

CASE STUDY SAMPLE

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/nifty_500.csv')

In [11]:
df.sample(5)

,Company Name,Symbol,Industry,Series,Open,High,Low,Previous Close,Last Traded Price,Change,Percentage Change,Share Volume,Value (Indian Rupee),52 Week High,52 Week Low,365 Day Percentage Change,30 Day Percentage Change
82,Castrol India Ltd.,CASTROLIND,Oil Gas & Consumable Fuels,EQ,103.3,104.15,102.75,103.30,104.00,0.70,0.68,228227,2.364432e+07,150.00,99.05,-27.81,-4.97
45,Bajaj Electricals Ltd,BAJAJELEC,Consumer Durables,EQ,1021.0,1048.00,1000.20,1023.95,1042.00,18.05,1.76,326410,3.350305e+08,1588.95,858.55,-0.29,3.41
61,Bharat Electronics Ltd.,BEL,Capital Goods,EQ,233.0,235.50,227.25,234.10,229.70,-4.40,-1.88,5108014,1.175354e+09,259.50,162.35,31.52,-0.28
350,Phoenix Mills Ltd.,PHOENIXLTD,Realty,EQ,1183.7,1214.00,1162.80,1183.70,1173.05,-10.65,-0.90,172501,2.056402e+08,1244.95,793.40,45.21,1.44
295,Max Healthcare Institute Ltd.,MAXHEALTH,Healthcare,EQ,364.6,367.05,357.00,366.95,360.05,-6.90,-1.88,326670,1.180520e+08,458.05,250.60,44.18,-3.52

In [9]:
x =df['Share Volume'][df['Industry']=='Healthcare'].mean()
x

300019.3653846154

In [16]:
z = df['Share Volume'][df['Industry']=='Healthcare']
sample = z.sample(36)
sample.mean()

275848.05555555556

In [12]:
y =df['Share Volume'][df['Industry']=='Healthcare'].std()
y

455996.1289782385

In [18]:
#problem statement
#Healthcare industries has average share volume of 300019 and standard deviation of 455996 recorded over past 2 weeks. A sample of 36 has been recorded with mean of 275848. There is a claim made by business analysts that average mean has not been changed. Is there enough evidence to reject the claim?

In [19]:
#h0 : mean = 300019
#h1: mean != 300019

In [20]:
#using two tailed test
a=0.05
m=300019
x = 275848
n = 36
std = 455996

In [23]:
z= (x-m)/(std/np.sqrt(n))

In [24]:
z

-0.31804226352862747

In [25]:
z_critical = st.norm.ppf(a/2)
z_critical

-1.9599639845400545

In [26]:
if z>z_critical:
  print('Fail to reject H0')
else:
  print('Rejecting H0')

Fail to reject H0